[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	tag = v1.4.2
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
	tag = v3.7.3
[submodule "third_party/boost/dll"]
	path = third_party/boost/dll
	url = https://github.com/boostorg/dll.git
	tag = boost-1.68.0

[submodule "third_party/boost/asio"]
	path = third_party/boost/asio
	url = https://github.com/boostorg/asio.git
	tag = boost-1.68.0

[submodule "third_party/boost/thread"]
	path = third_party/boost/thread
	url = https://github.com/boostorg/thread.git
	tag = boost-1.68.0